body {
    font-size: 3vh;
    margin: var(--body-margin);
    background-color: var(--body-background-color);
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
  }

  @media only screen and (min-width: 768px) {
  .tarjeta{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(155, 90, 5);
    margin: .6rem;
    width: 20%;
}
}

.img-tarjeta{
    width: 200px;
}


.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h3{
    text-align: center;
  }

.App {
    text-align: center;;
}